<%- include("./partials/header.ejs") %>
<h1><%= movie.title %></h1>
<div class="content">
	<p>Rating: <%= movie.rating %></p>
	<p>Awards: <%= movie.awards %></p>
	<p>Length: <%= movie.length + ' min'%></p>
	<p>
		Release date: <%= "publicada el año " + movie.release_date.getFullYear() + " del mes " +
		(movie.release_date.getMonth() + 1) + ' del día ' + (movie.release_date.getDate() + 1) %>
	</p>
	<% if (movie.genero !== null) { %>
	<p>Genre: <%= movie.genero.name %></p>
	<% } else { %>
	<p>Genre</p>
	<% } %> 
	<h4>Actores</h4>
	<ul class="list">
		<% if (movie.actores[0] !== null) { %> 
			<% let i = 1; movie.actores.forEach(actor => { %>
				<li><%=actor.first_name + ' ' + actor.last_name %></li>
			<% i++; }) %> 
		<% } %>
	</ul>
	<a href="/movies/create" class="button create">Agregar <i class="fas fa-plus-circle"></i></a>
	<a href="/movies/update/<%= movie.id %>" class="button edit">Modificar</a>
	<a href="/movies/delete/<%= movie.id %>" class="button delete">Borrar</a>
</div>
<%- include("./partials/footer.ejs") %>
