<%- include("./partials/header.ejs")  %> 

    <h1>LISTADO DE PELÍCULAS</h1>
    <ul class="list">
        <% for( let i = 0; i < movies.length; i++ ) { %>
        <li class="card">
            <a href="/movies/detail/<%= movies[i].id %>" class="body-card">
                <figure>
						<img src="/img/<%= movies[i].title.includes(' ') ? "default" : movies[i].title %>.jpg" alt="poster de <%= movies[i].title %>" />
				</figure>
                <%= movies[i].title %>
            </a>
            <form action="/movies/delete/<%= movies[i].id %>?_method=DELETE" method="POST">
                <button type="submit" class="submit">Borrar</button>
            </form>
        </li>
        <% } %>

    </ul>
    <%- include("./partials/footer.ejs")  %> 
